:host {
  display: block;
}

.cards-list {
  display: grid;
  gap: 1rem;
  padding: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
}

.buttons {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}
